.login-form {
    width: 100%;
    background-color: #2c4147;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    height: 600px;
    
}

.submit-login {
    margin-top: 20px;
    padding: 10px 25px;
    background: #00c98e;
    color: white;
    border-radius: 5px;
    width:400px;
    font-size: 23px;
    cursor: pointer;
    border: transparent;
} 
.login-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    border: 1px solid var(--border-color);
    margin-bottom:240px;
    gap: 10px;
}
.login {
    font-size: 45px;
   
}
.email{
    font-size: large;
    font-weight: 400;
    align-self: flex-start;
    margin-left: 100px;
    
}
.password{
    font-size: large;
    font-weight: 400;
    align-self: flex-start;
    margin-left: 100px;
    
}

.footer{
    font-size: large;
    font-weight: 400; 
}
.sign-up{
    color: #00c98e;
    text-decoration: none;
}