.nutrition-form .form-input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: whitesmoke;
    color: white;
    width: 400px;
  }

  .submit-nutrition {
    color: black;
  }

  .InputField{
      color: white;
      justify-content: flex-start;
  }
  