.registration-form {
    width: 100%;
    background-color: #2c4147;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.form-input {
    background-color: transparent;
    color: white;
    border: 1px white solid;
    height: 7vh;
    width: 500px;
    min-width: 14vw;
    font-size: medium;
    margin: 3px;
    padding: 16px 20px;
    
}
::placeholder {
    color: var(--pure-white);
}
#forming{
    width:247px;
}
#forming2{
    width:247px;
}

.forms {
    display:flex;
    flex-wrap:wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    gap: 10px;
    
}
.submit-registration {
    margin-top: 10px;
    padding: 10px 25px;
    background: #00c98e;
    color: white;
    border-radius: 5px;
    width: 500px;
    font-size: 20px;
    border: transparent;
    margin-bottom: 5px;
    font-weight: 400;

    
} 

.input-field{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.input-title {
    font-size: large;
    font-weight: 400;
    display:flex;
    align-self: flex-start;
    
}

.login-here{
    text-decoration: none;
    color: #00c98e;
}